body {
	position: absolute;
	width: 100%;
	min-width: 1280px;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
header {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: url(../background/download/main.jpg);
}
header .back {
	position: absolute;
	height: 243px;
	left: 50%;
	bottom: 60px;
	transform: translateX(-50%);
	background-image: url(../element/download/header/title-back.png);
}
header .title {
	position: absolute;
	/*使子div上下左右居中*/
	display: flex;
	justify-content: center;
	align-items: center;
	/**/
	left: 50%;
	bottom: 110px;
	transform: translateX(-28%);
	transition: 1s;
}
header .title-active {
	left: 50%;
	transform: translateX(-50%);
}
header .qr-code {
	position: absolute;
	bottom: 109.5px;
	left: 50%;
	transform: translateX(-210%);
	width: 127px;
	height: 145px;
	background-image: url(../element/download/header/qr-code.png);
	transition: 1s;
	z-index: 2999;
	cursor: pointer;
}
header .qr-active {
	height: 343px;
	width: 300px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 330px;
}
header .mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	opacity: 0;
	z-index: 50;
	transition: 1s;
}
header .mask-active {
	opacity: 0.5;
}

header .back {
	width: 0;
	animation-name: unfold;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
}
@keyframes unfold {
	to {
		width: 100%;
	}
}
header .title *, header .qr-code {
	opacity: 0;
	animation-name: show;
	animation-delay: 0.8s;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
}
@keyframes show {
	to {
		opacity: 1;
	}
}

header .dl-list {
	display: block;
}
.dl-list a {
	transition: 0.3s;
}
.dl-list a:hover {
	box-shadow: 2px 2px 2px black;
	transform: translateX(-2px) translateY(-2px);
}
.dl-list .up {
	display: flex;
	margin-bottom: 23px;
}
.dl-list .bottom {
	display: flex;
}
.dl-list a {
	display: block;
	width: 210px;
	height: 60px;
	margin-left: 15px;
}
.dl-list .ps {
	background-image: url(../element/download/header/ps.png);
}
.dl-list .win {
	background-image: url(../element/download/header/win.png);
}
.dl-list .apple {
	background-image: url(../element/download/header/apple.png);
}
.dl-list .google {
	background-image: url(../element/download/header/google.png);
}
article {
	position: relative;
	width: 100%;
	height: 1700px;
	z-index: 0;
	background-image: url(../element/download/article/article-back.png);
}
article * {
	position: relative;
}
article .FAQ {
	width: 100%;
	height: 735px;
}
article .SR {
	width: 100%;
	height: 962px;
}
article .title {
	color: #7c77b8;
	font-size: 60px;
	font-weight: bold;
	width: 100%;
	height: 324px;
	text-align: center;
	line-height: 345px;
	margin: 0;
	background-image: url(../element/download/article/FAQ-back.png);
}
.FAQ .content {
	height: 412px;
	padding: 30px 0;
	background-image: url(../element/download/article/FAQ-back2.png);
}
.FAQ .qa-list {
	width: 1280px;
	height: 100%;
	margin: auto;
	padding: 0 40px;
}
.FAQ ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.FAQ li {
	width: 490px;
	list-style: none;
}
.FAQ li a {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 400;
	color: rgba(25, 58, 91, 0.75);
	transition: 0.3s;
}
.FAQ li::before {
	position: absolute;
	content: '';
	left: -18px;
	top: 4px;
	width: 0;
	transition: 0.3s;
	border-left: 9px solid rgba(25, 58, 91, 0.75);
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
}
.FAQ li a:hover {
	color: #193a5b;
}
.FAQ li:hover::before {
	border-left-color: #193a5b;
}
.FAQ .view-more {
	position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: 20px;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    font-weight: 400;
    color: rgba(25, 58, 91, 0.6);
    letter-spacing: 2px;
}
.SR .content {
	width: 1280px;
	margin: 0 auto;
}
.SR ul {
	display: flex;
	justify-content: center;
}
.SR li {
	list-style: none;
	color: #8498c4;
	font-size: 30px;
	font-weight: bolder;
	width: 200px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.SR li p {
	transition: 0.3s;
}
.SR li:hover p {
	transform: translateY(-20%);
}
.SR li::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: -20px;
	background-color: #8498c4;
	transition: 0.3s;
}
.SR .select_active {
	color: #193a5b;
}
.SR .select_active::after {
	bottom: -21px;
	height: 4px;
	background: #193a5b;
}
.SR .sr {
	display: none;
	margin: 60px auto;
	font-size: 18px;
}
.SR .text_active {
	display: block;
}