body {
	position: absolute;
	width: 100%;
	min-width: 1280px;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#bar .home {
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
	color: #fff;
}
#bar .slide-item {
	position: absolute;
	width: 42px;
	height: 5px;
	top: 0px;
	left: 15px;
	background-color: rgb(105, 224, 255);
	transition: 0.2s;
}
#bar .on-2 {
	width: 42px;
	left: 87px;
}
#bar .on-3 {
	width: 96.5px;
	left: 159px;
}
#bar .on-4 {
	width: 84px;
	left: 285.5px;
}
#bar .on-5 {
	width: 50px;
	left: 399.5px;
}
header {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header > * {
	position: absolute;
}
header video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}
header .title {
	width: 827px;
	top: 470px;
	left: 50%;
	transform: translateX(-50%);
}
.title > * {
	position: relative;
}
.title .video {
	width: 356px;
	height: 76px;
	background-image: url(../element/os/header/video-button.png);
	margin: auto;
}
.title .video * {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 0.2s;
}
.title .player {
	width: 48px;
	height: 48px;
	cursor: pointer;
}
.title .circle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #fff;
	opacity: 1;
	z-index: 1000;
}
.title .trangle {
	width: 28px;
	height: 28px;
	z-index: 1001;
	background-image: url(../element/os/header/trangle.png);
}
.title p {
	color: #fff;
	font-size: 30px;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
	margin: 32px 0 27px 0;
}
.title .dl-link {
	float: left;
	width: 188px;
	height: 62px;
	margin-left: 15px;
	opacity: 0.8;
}
.title .ps {
	background-image: url(../element/os/header/dl-ps.png);
}
.title .apple {
	background-image: url(../element/os/header/dl-apple.png);
}
.title .google {
	background-image: url(../element/os/header/dl-google.png);
}
.title .win {
	background-image: url(../element/os/header/dl-win.png);
}
header .arrow-frame {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 48px;
}
header .arrows {
	position: absolute;
	width: 28px;
	height: 24px;
	opacity: 0.1;
	background-image: url(../element/os/header/arrow.png);
	background-size: auto;

	animation-name: arrow;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
header .arrow1 {
	top: 0;
	animation-delay: 0.3s;
}
header .arrow2 {
	top: 12px;
	animation-delay: 0.6s;
}
header .arrow3 {
	top: 24px;
	animation-delay: 0.9s;
}
@keyframes arrow {
	from {
		opacity: 0.2;
	}
	50% {
		opacity: 0.9;
	}
	to {
		opacity: 0.2;
	}
}
article .news {
	display: flex;
	flex-direction: column;
	color: #fff;
	width: 100%;
	height: 910px;
	background-image: url(../element/os/article/news-back.jpg);
	z-index: 0;
}
.news h3 {
	position: relative;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	margin: 183px auto 60px;
}
.news h3::before, .news h3::after {
	position: absolute;
	content: '';
	width: 385px;
	height: 14px;
	top: 50%;
	background-image: url(../element/os/article/news-left.png);
}
.news h3::before {
	left: 0;
	transform: translateY(-50%) translateX(-93%);
}
.news h3::after {
	right: 0;
	transform: translateY(-50%) translateX(93%) scaleX(-1);
}
.news-list {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.news-list * {
	position: relative;
	color: #fff;
	font-size: 16px;
}
.news-list .visual {
	width: 640px;
	height: 400px;
	overflow: hidden;
	background-color: rgba(38, 18, 12, 0.62);
}
.visual .slide {
	width: 10000px;
	height: 100%;
	transform: translateX(0);
	transition: 0.5s;
}
.slide a {
	float: left;
	width: 640px;
	height: 100%;
}
.slide .p1 {
	background-image: url(../element/os/article/p1.jpg);
}
.slide .p2 {
	background-image: url(../element/os/article/p2.jpg);
}
.slide .p3 {
	background-image: url(../element/os/article/p3.jpg);
}
.slide .p4 {
	background-image: url(../element/os/article/p4.jpg);
}
.news-list .page-point {
	display: flex;
	justify-content: center;
	width: 100%;
	bottom: 30px;
	z-index: 1000;
}
.page-point .p {
	width: 18px;
	height: 18px;
	margin: 0 4px;
	cursor: pointer;
	border-radius: 50%;
	border: solid 2px rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 12px 0 rgb(17 17 17 / 30%);	
	background-color: rgba(0, 0, 0, 0.1);
}
.p-active {
    border: solid 2px #fff !important;
    background-color: #fff !important;
}
.news-list .news-content {
	display: flex;
	justify-content: center;
	width: 640px;
	background: rgba(38, 18, 12, 0.62);
}
.news-list ul {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width: 592px;
	list-style: none;
}
.news-list ul::before {
	content: "Latest";
	color: #ffd49f;
	font-size: 18px;
	padding: 0 19px 12px; 
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.news-list li a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}
.news-list li .text {
	width: 480px;
	height: 20px;
	line-height: 20px;
	padding-left: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-list li .date {
	color: rgba(255, 255, 255, 0.35);
    font-size: 14px;
}
.news-content .news-more {
	position: absolute;
	color: rgba(255, 255, 255, 0.75);
	font-size: 18px;
	height: 22px;
	right: 33px;
	bottom: 30px;
	line-height: 22px;
	padding-left: 38px;
	cursor: pointer;
}
.news-content .news-more::before {
	position: absolute;
	content: '';
	width: 22px;
	height: 22px;
	left: 0;
	background-image: url(../element/os/article/news-more.png);
	background-size: contain;
}